@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&display=swap');

.footer-label {
  font-family: 'Bebas Neue';
  font-size: 18px;
  color: #705a4f;
  text-decoration: none;
  outline-style: none;
}

.active {
  color: #cc4400;
}

.footer-link {
  text-decoration: none;
}

.footer-logo {
  height: 25px;
}

.footer {
  padding-top: 5px;
  text-decoration: none;
  background-color: #fffdfc;
  position: fixed;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  width: 100%;
  border-top: solid;
  border-color: #CCBEB8;
  border-width: 0.5px;
  height: 60px;
}

.container-fluid {
  padding: 0;
}

.footer-row {
  margin: 0;
}
