@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&display=swap');

#market-label {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: #705a4f;
  text-decoration: none;
  outline-style: none;
}

#vendor-label {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: #705a4f;
}

.footer-link {
  text-decoration: none;
}

.footer {
  text-decoration: none;
  margin-top: 1rem;
  padding: 10px;
  background-color: #f7f5f2;
  position: fixed;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid;
  border-width: 0.5px;
}
