@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  color: #f7f5f2;
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
  height: 150px;
  z-index: 1;
}

.market-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../headers/market.jpeg');
}

.vendor-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../headers/vendor.jpeg');
  background-position-y: 60%;
}
