@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: #f7f5f2;
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #33221a;
  z-index: 1;
  padding-top: 20px;
}

.Logo {
  display: flex;
  width: 40px;
  height: 40px;
}

.LogoContainer {
  align-items: center;
  justify-content: center;
  display: grid;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
}
