@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  margin: 0;
}

.product {
  background-color: #53b896;
  grid-column-start: 1;
  grid-column-end: 3;
}

.product-content {
  padding: 15px;
}

.product-title {
  font-family: 'Amatic SC', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fffdfc;
  margin-bottom: 10px;
  text-align: left;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  color: #53b896;
  background-color: #fffdfc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
