@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.marketCard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1f auto;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  padding: 10px;
  background-color: #fffdfc;
  width: 100%;
  position: relative;
}

.marketLoading {
  background-color: #f7f5f2;
  width: 100%;
  position: relative;
  height: 100px;
}

.marketHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: max-content;
  user-select: none;
  padding: 20px 20px 0px 20px;
  background-color: #f7f5f2;
  width: 100%;
  color: #33221a;
}

.marketDescribe {
  padding-left: 20px;
}

.cardLogo {
  height: 110px;
}

.marketLogo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerLogo {
  height: 80px;
  width: 80px;
}

.topMarketInfo {
  grid-column: 2;
  grid-row: 1;
  padding-left: 10px;
  position: "relative";
  overflow: hidden;
}

.marketName {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  max-height: 60px;
  white-space: normal;
  word-break: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  padding-top: 20px;
}

.marketLocationAndDate {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  overflow-wrap: break-word;
}

.vendorNumber {
  display: flex;
  align-items: flex-end;
  grid-column: 2;
  grid-row: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  overflow-wrap: break-word;
  padding-left: 10px;
}

.parallelDateAndHour {
  display: flex;
  align-items: baseline;
}

.startAndEndHours {
  font-size: 18px;
  padding-left: 5px;
}
