@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.marketCard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1f auto;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  padding: 20px;
  background-color: white;
  width: 100%;
  position: relative;
}

.marketLoading {
  background-color: #53b896;
  width: 100%;
  position: relative;
  height: 100px;
}

.marketHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1f auto;
  user-select: none;
  padding: 10px;
  background-color: #53b896;
  width: 100%;
  position: relative;
  color: white;
  height: 100px;
}

.marketDescribe {
  padding-left: 20px;
}

.marketLogo {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  align-self: center;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerLogo {
  height: 80px;
  width: 80px;
}

.cardLogo {
  height: 110px;
}

.topMarketInfo {
  grid-column: 2;
  grid-row: 1;
  padding-left: 20px;
  position: "relative";
}

.marketName {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  overflow-wrap: break-word;
}

.marketLocationAndDate {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  overflow-wrap: break-word;
}

.vendorNumber {
  display: flex;
  align-items: flex-end;
  grid-column: 2;
  grid-row: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  overflow-wrap: break-word;
  padding-left: 20px;
}

.parallelDateAndHour {
  display: flex;
  align-items: baseline;
}

.startAndEndHours {
  font-size: 10px;
  padding-left: 5px;
}
