.card-list {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 30px;
  padding: 20px 20px 110px;
  justify-items: flex-start;
}
 
  

a {
  color: #33221a;
}

a:hover {
  color: inherit;
}
