.vendor-payment {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 10px 0;
}

.payment-icon {
  margin-right: 5px;
}

.payment-text {
  margin-left: 5px;
}
