.footer-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  color: #ccbeb8;
  text-decoration: none;
  outline-style: none;
  display: flex;
  justify-content: center;
}

.active {
  color: #53b896;
}

.footer-link {
  text-decoration: none;
  text-align: center;
}

.footer-logo {
  height: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer {
  padding-top: 5px;
  text-decoration: none;
  background-color: #fffdfc;
  position: fixed;
  vertical-align: middle;
  bottom: 0;
  width: 100%;
  border-top: solid;
  border-color: #53b896;
  border-width: 0.5px;
  border-top-width: 2px;
  height: 60px;
  display: flex;
  justify-content: space-around;
}
