.footer-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  color: #ccbeb8;
  text-decoration: none;
  outline-style: none;
  display: flex;
  justify-content: center;
}

.active {
  color: #53b896;
}

.footer-link {
  text-decoration: none;
  text-align: center;
}

.footer-logo {
  height: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}
